<div id="<%= dom_id friend %>">

  <table class="table">
    <thread>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Socials</th>
        <th colspan="3"></th>
      </tr>
    </thread>

    <tbody>
      <tr>
        <td>
          <%= friend.first_name %>
        </td>
        <td>
          <%= friend.last_name %>
        </td>
        <td>
          <%= friend.email %>
          </td>
          <td>
            <%= friend.phone %>
          </td>
        <td>
          <%= friend.social %>
        </td>
      </tr>
    </tbody>
  </table>

</div>
