<table class="table">
  <thread class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Socials</th>
    </tr>
  </thread>

  <tbody>
    <tr id="<%= dom_id friend %>">
      <td>
        <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
      </td>
      <td>
        <%= friend.email %>
      </td>
      <td>
          <%= friend.phone %>
        </td>
      <td>
        <%= friend.social %>
      </td>
    </tr>
   </tbody>
  </table>
